// Fonts
$futura: futura-pt;
$futura-bold: futura-pt-bold;
$josefin: josefin-sans;


//.l-page-main
.l-page-main {
  width: 100vw;

  //.l-page-main__container
  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    padding: 35px;
    text-align: center;
    width: 100%;
  }

  //.l-page-main__image
  &__image {

  }

  //.l-page-main__heading
  &__heading {
    font-family: $futura;
    font-size: 50px;
    margin: 0 auto;
    line-height: 50px;
    font-weight: 800;
  }

  //.l-page-main__eyebrow
  &__eyebrow {
    font-family: $josefin;
    font-size: 20px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  //.l-page-main__statement
  &__statement {
    font-family: $futura-bold;
    a {
      background-image: radial-gradient(circle at 0 100%,#7b77e0 0,#53a0fd 43%,#69e3ab 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  //.l-page-main__link
  &_icon-link {
    position: relative;
  }

  //.l-page-main__icon
  &__icon {
    align-items: center;
    color: white;
    display: flex;
    text-decoration: underline;
    width: 100%;

    svg {
      height: 40px;
      margin-top: 7px;
      width: 40px;
    }
  }

  //.l-page-main__link
  &__link {
    color: white;
    font-family: $josefin;
  }
}

